<h1><%= t('edit')+' '+t('medium').capitalize+' '+t('review') %></h1>

<%= render 'form', medium_review: @medium_review %>

<%= link_to t('show'), @medium_review %> |
<%= link_to t('go_back'), medium_reviews_path %>
