/* line 1, app/assets/stylesheets/old_styles.scss */
a img {
  border: none;
}

/* line 5, app/assets/stylesheets/old_styles.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 11, app/assets/stylesheets/old_styles.scss */
#container {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

/* line 20, app/assets/stylesheets/old_styles.scss */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 27, app/assets/stylesheets/old_styles.scss */
#flash_notice {
  background-color: #cfc;
  border: solid 1px #6c6;
}

/* line 32, app/assets/stylesheets/old_styles.scss */
#flash_error,
#flash_alert {
  background-color: #fcc;
  border: solid 1px #c66;
}

/* line 38, app/assets/stylesheets/old_styles.scss */
.fieldWithErrors {
  display: inline;
}

/* line 42, app/assets/stylesheets/old_styles.scss */
.error_messages {
  width: 800px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 52, app/assets/stylesheets/old_styles.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* line 62, app/assets/stylesheets/old_styles.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 66, app/assets/stylesheets/old_styles.scss */
.error_messages ul {
  margin: 0;
}

/* line 70, app/assets/stylesheets/old_styles.scss */
form .field,
form .actions {
  margin: 12px 0;
}

/* line 75, app/assets/stylesheets/old_styles.scss */
.product h2 {
  font-size: 16px;
  margin-bottom: 2px;
}

/* line 80, app/assets/stylesheets/old_styles.scss */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
}

/* line 87, app/assets/stylesheets/old_styles.scss */
ul.ui-autocomplete li {
  background-color: #fff;
  border-top: solid 1px #ddd;
  margin: 0;
  padding: 0;
}

/* line 92, app/assets/stylesheets/old_styles.scss */
ul.ui-autocomplete li a {
  color: #000;
  display: block;
  padding: 3px;
}

/* line 97, app/assets/stylesheets/old_styles.scss */
ul.ui-autocomplete li a.ui-state-hover,
ul.ui-autocomplete li a.ui-state-active {
  background-color: #fffcb2;
}

/* line 104, app/assets/stylesheets/old_styles.scss */
.fragment {
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  color: #555;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  min-height: 120px;
  max-width: 900px;
}

/* line 117, app/assets/stylesheets/old_styles.scss */
.fragment:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 121, app/assets/stylesheets/old_styles.scss */
.fragment img {
  float: left;
  margin-right: 10px;
}

/* line 125, app/assets/stylesheets/old_styles.scss */
.fragment h3,
.fragment h4 {
  font-size: 14px !important;
  padding: 0;
  margin: 0;
}

/* line 132, app/assets/stylesheets/old_styles.scss */
.fragment h3 {
  color: #369;
}

/* line 135, app/assets/stylesheets/old_styles.scss */
.fragment h4 {
  color: #000;
}

/* line 139, app/assets/stylesheets/old_styles.scss */
.read-more {
  display: block;
  clear: both;
  margin: 20px 0 0 28px;
}

/* line 145, app/assets/stylesheets/old_styles.scss */
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

/* line 157, app/assets/stylesheets/old_styles.scss */
.Center-Container {
  position: relative;
  height: 100%;
}

/* line 162, app/assets/stylesheets/old_styles.scss */
.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 174, app/assets/stylesheets/old_styles.scss */
.form-claim {
  display: flex;
  margin: 0px auto;
  padding: 0px 12px 0px 20px;
}

/* line 179, app/assets/stylesheets/old_styles.scss */
.form-claim li {
  font-size: 30;
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

/* line 186, app/assets/stylesheets/old_styles.scss */
.form-claim label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

/* line 192, app/assets/stylesheets/old_styles.scss */
.form-claim input[type="text"],
.form-claim input[type="date"],
.form-claim input[type="datetime"],
.form-claim input[type="number"],
.form-claim input[type="search"],
.form-claim input[type="time"],
.form-claim input[type="url"],
.form-claim input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

/* line 214, app/assets/stylesheets/old_styles.scss */
.form-claim input[type="text"]:focus,
.form-claim input[type="date"]:focus,
.form-claim input[type="datetime"]:focus,
.form-claim input[type="number"]:focus,
.form-claim input[type="search"]:focus,
.form-claim input[type="time"]:focus,
.form-claim input[type="url"]:focus,
.form-claim input[type="email"]:focus,
.form-claim textarea:focus,
.form-claim select:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

/* line 229, app/assets/stylesheets/old_styles.scss */
.form-claim .field-divided {
  width: 49%;
}

/* line 233, app/assets/stylesheets/old_styles.scss */
.form-claim .field-long {
  width: 100%;
}

/* line 236, app/assets/stylesheets/old_styles.scss */
.form-claim .field-select {
  width: 100%;
}

/* line 239, app/assets/stylesheets/old_styles.scss */
.form-claim .field-textarea {
  height: 100px;
}

/* line 242, app/assets/stylesheets/old_styles.scss */
.form-claim input[type="submit"],
.form-claim input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

/* line 249, app/assets/stylesheets/old_styles.scss */
.form-claim input[type="submit"]:hover,
.form-claim input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 256, app/assets/stylesheets/old_styles.scss */
.form-claim .required {
  color: red;
}

/* line 260, app/assets/stylesheets/old_styles.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 271, app/assets/stylesheets/old_styles.scss */
.columnr {
  float: right;
  padding: 5px;
  height: 30px;
  /* Should be removed. Only for demonstration */
}

/* line 276, app/assets/stylesheets/old_styles.scss */
.columnl {
  float: left;
  padding: 5px;
  height: 30px;
  /* Should be removed. Only for demonstration */
}

/* line 282, app/assets/stylesheets/old_styles.scss */
div.blueTable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 150px;
  text-align: left;
  border-collapse: collapse;
}

/* line 289, app/assets/stylesheets/old_styles.scss */
.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}

/* line 294, app/assets/stylesheets/old_styles.scss */
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}

/* line 297, app/assets/stylesheets/old_styles.scss */
.blueTable .tableFootStyle {
  font-size: 14px;
}

/* line 300, app/assets/stylesheets/old_styles.scss */
.blueTable .tableFootStyle .links {
  text-align: right;
}

/* line 303, app/assets/stylesheets/old_styles.scss */
.blueTable .tableFootStyle .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* line 310, app/assets/stylesheets/old_styles.scss */
.blueTable.outerTableFooter {
  border-top: none;
}

/* line 313, app/assets/stylesheets/old_styles.scss */
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
