// @import "bootstrap-sprockets";

@import "./variables.scss";
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "bootstrap-datepicker3";

@font-face{font-family:'Glyphicons Halflings';src:url('../fonts/glyphicons-halflings-regular.eot');
src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/glyphicons-halflings-regular.woff') format('woff'),url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}

.fa-calendar:before{content:"\1f4c5";}

h1,
h2,
h3,
h4 {
  font-family: "Gilroy", "Helvetica";
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

body {
  background-color: #fff;
  font-family: "Muli", Helvetica, Arial;
}

.no-link-style {
  a {
    color: #222 !important;
    //preview
    //
    //
  }
}

.nav-item a {
  color: #222;
  font-size: 0.8rem;
  // margin-left: 1rem;

  //t
  font-weight: 400;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@import "./old_styles.scss";
@import "./chosen.scss";

.no-style {
  background: transparent !important;
  color: black !important;
  font-size: 14px;
  padding: 0px !important;
  margin: 0px;
  margin-top: 20px !important;
  border: none !important;
}
