/* line 5, app/assets/stylesheets/claims.scss */
#tag_cloud {
  width: 900px;
  padding-left: 50px;
  line-height: 1.6em;
}

/* line 9, app/assets/stylesheets/claims.scss */
#tag_cloud .s {
  font-size: 1.0em;
}

/* line 10, app/assets/stylesheets/claims.scss */
#tag_cloud .m {
  font-size: 1.2em;
}

/* line 11, app/assets/stylesheets/claims.scss */
#tag_cloud .l {
  font-size: 1.4em;
}
